nav{
    background-color: var(--blackNav);
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    margin: auto;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

nav a{
    color: var(--whitekNav);
    padding: 10px;
    font-size: 16px;
}

nav a:hover{
    color: var(--white);
}