:root {
  --blue: #06c;
  --black: #000000;
  --blackNav: #2c2c2c;
  --blackClair: #3f3f3f;
  --white: #ffffff;
  --whiteCard: rgb(250, 247, 247);
  --whiteCard2: rgb(248, 246, 246);
  --whitekNav: #d9d9dd;
  --forminputc: #bbb0bb;
  --navyBlueTransparent: #6b63ff5b;
}

* {
  margin: 0;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

body {
  background-color: var(--white);
}

a {
  text-decoration: none;
  color: var(--blue);
  font-size: 16px;
}

.container {
  min-height: 80vh;
  margin-top: 45px;
  padding: 30px;
}

.user_select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
