.card__container {
  display: grid;
  grid-template-columns: auto;
}

/* card__container--2 */
.card__container--2 {
  grid-template-columns: auto auto;
}

.card__container--2 .card__figcaption {
  width: 80%;
}

.card__article {
  display: grid;
  background-color: var(--white);
  text-align: center;
  margin: 20px;
  border-radius: 5px;
}

.card__figure {
  margin: 50px;
  height: 400px;
}
.card__img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  height: 100%;
}
.card__figcaption {
  display: grid;
  margin: auto;
  height: 200px;
  width: 40%;
}

.card__figcaption_text {
  margin: auto;
}

.card__subtitle {
  color: var(--black);
  font-family: "PT Sans Narrow";
  font-weight: bold;
  font-style: normal;
  font-size: 30px;
}

.card__text {
  font-family: "Rubik";
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  margin-top: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.card__Button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  margin: auto;
  max-width: 100px;
  padding: 20px;
  border-radius: 5px;
}

.card__Button a:active {
  color: var(--black);
  font-size: 20px;
}

.card__Button a i {
  margin: 3px;
}

.share_button {
  display: grid;
  justify-content: end;
}

.FiShare2 {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--blue);
  margin: 20px;
  width: 20px;
  cursor: pointer;
}

.FiShare2:active {
  font-size: 18px;
}
