.error{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20px  auto 80px;
    text-align: center;
}

.error__info{
    margin: auto;
}

.error__img{
    max-width: 90%;
    margin-top: 30px;
}

.error__title{
    font-family: 'PT Sans Narrow';
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
    margin-bottom: 10px;
}

.error__text{
    font-family: 'Rubik';
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    margin-top: 10px;
}