.error {
  border-radius: 20px;
  text-align: center;
  margin: auto;
  padding: 20px;
  margin-top: 30px;
  width: 80%;
}

.error__info {
  height: 500px;
}

.error__img {
  width: 70%;
  height: 300px;
  margin-top: 30px;
}

.error__title {
  font-family: "PT Sans Narrow";
  font-weight: bold;
  font-style: normal;
  font-size: 30px;
  margin-bottom: 10px;
}

.error__text {
  font-family: "Rubik";
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  margin-top: 10px;
}
