.hide {
  display: none;
}

.Share__container {
  display: hide;
  width: 100%;
  height: 100%;
  position: fixed;
  display: grid;
  background-color: rgba(0, 0, 0, 0.902);
}

.Share {
  width: 60%;
  border-radius: 10px;
  background-color: var(--whiteCard);
  background-color: white;
  margin: auto;
}

.Share__header {
  display: grid;
  background-color: rgb(234, 230, 230);
  border-radius: 10px 10px 0px 0px;
  grid-template-columns: auto auto;
  justify-content: space-between;
  padding: 20px;
}

.Share__contents {
  display: grid;
  grid-template-columns: 110px auto;
  padding: 20px;
}

.Share__img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: auto;
  width: 100px;
  border-radius: 5px;
  background-color: var(--whiteCard);
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px #42424272;
}

.Share__subtiitle{
  margin-left: 20px;
}

.Share__text{
  margin: 20px 0px 0px 20px;
}
.Share__link {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: rgb(10, 149, 241);
  display: grid;
  grid-template-columns: auto;
  padding: 20px;
  cursor: pointer;
}

.Share__link:active {
  color: black;
}

.FiX{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 30px;
  color: black;
  cursor: pointer;
}

.FiX:active{
  font-size: 30px;
  color: rgb(10, 149, 241);
}
/* .Share__input {
  padding: 10px;
  outline: none;
} */


