.form{
    margin: auto;
    border-radius: 5px;
    padding: 30px;
    font-size: 30px;
    width: 90%;
    max-width: 650px;
}

.form__container{
    width: 100%;
    display: grid;
    /* gap: 1em; */
    grid-auto-columns: 100%;
}

.form__title{
    font-family: 'PT Sans Narrow';
    font-weight: bold;
    font-style: normal;
    font-size: 50px;
    text-align: center;
}

.form__input{
    font-size: 16px;
    padding: .8em 1em;
    outline: none;
    border: none;
    border: 1px solid var(--forminputc);
    border-radius: 0.2em;
}

.form__label{
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.form__input--message{
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: .5em;
}

.form__cta{
    font-size: 1rem;
    background-color: var(--blue);
    color: var(--white);
    border: none;
    font-weight: 500;
    padding: .7em 0;
    border-radius: .2em;
    cursor: pointer;
}