footer{
    background-color: var(--blackNav);
    color: var(--whitekNav);
    /* display: grid; */
    /* grid-template-columns: auto; */
    /* margin: auto; */
    padding: 20px;
    text-align: center;
}

footer a{
    font-size: 16px;
    color: var(--white);
}

.bi-envelope-fill{
    color: var(--white);
    font-size: 30px;
}
  
.bi-twitter{
    color: var(--white);
    font-size: 30px;
}