.hide{
    display: none;
}

.Share__container{
    /* display: hide; */
    width: 100%;
    position: fixed;
    display: grid;
    background-color: rgba(0, 0, 0, 0.226);
    min-height: 650px;
}

.Share{
    min-width: 700px;
    background-color: var(--whiteCard);
    background-color: white;
    margin: auto;
}

.Share__header{
    display: grid;
    background-color: black;
    color: white;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding: 20px;
}

.bi-x-square{
    margin: auto;
    font-size: 20px;
    cursor: pointer;
}

.Share__contents{
    display: grid;
    grid-template-columns: 110px auto;
    padding: 20px;
}

.Share__img{
    width:100px;
    background-color: var(--whiteCard);
    border-radius: 5px;
}

.Share__link{
    display: grid;
    grid-template-columns: auto;
    padding: 20px;
}

.Share__input{
    padding: 10px;
    outline: none;
}

.hare__input--bi{
    padding: 20px;
}

.hare__input--bi .bi{
    font-size: 20px;
    margin-right: 10px;
}